@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Space Grotesk', Arial, sans-serif;
    }

    body {
        @apply box-border transition-colors text-neutral-700 bg-primary-100;
        @apply dark:text-neutral-100 dark:bg-neutral-900;
    }

    html,
    body,
    #__nuxt {
        @apply h-full;
    }

    main {
        @apply overflow-auto h-[calc(100%-theme(spacing.header))];
    }

    main>div {
        @apply container mx-auto p-4 h-full max-w-[1280px];
        @apply lg:p-12
    }

    textarea, pre {
        font-family: 'Fira Code', monospace;
        @apply text-sm p-2;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 200ms;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0
}

.vc-sketch-field .vc-input__input {
    @apply border-2 bg-primary-200 placeholder-neutral-500 dark:bg-neutral-700;
}
