@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.1s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0
}

@layer base {
    html {
        font-family: 'Space Grotesk', Arial, sans-serif;
    }

    body {
        @apply box-border transition-colors text-neutral-700 bg-primary-100;
        @apply dark:text-neutral-100 dark:bg-neutral-950;
    }

    html,
    body,
    #__nuxt {
        @apply h-full;
    }

    main {
        @apply overflow-auto h-[calc(100%-theme(spacing.header))];
    }

    main>div {
        @apply container mx-auto p-4 h-full max-w-[1280px];
        @apply lg:p-12
    }

    input[type=number],
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]:hover,
    input[type=number]::-webkit-inner-spin-button:hover,
    input[type=number]::-webkit-outer-spin-button:hover {
        @apply appearance-none;
    }
}