@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    --------------------
    GLOBAL DEFINITIONS
    --------------------
*/

/* 
    --------------------
    -- Transitions
    --------------------
*/

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.1s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0
}

@layer base {

    /* 
        --------------------
        -- Top-level elements
        --------------------
    */

    html {
        font-family: 'Gaberito', Arial, sans-serif;
    }

    body {
        @apply box-border transition-colors text-neutral-800 bg-blue-50;
        @apply dark:text-neutral-100 dark:bg-neutral-900;
    }

    html,
    body,
    #__nuxt {
        @apply h-full;
    }

    /* 
        Main page container
        -------------------
        Defines the sizes and the overflow control
    */
    main {
        @apply overflow-auto h-[calc(100%-theme(spacing.header))];
    }

    /* 
        Main page sub-container
        -----------------------
        Defines the box model rules
    */
    main>div {
        @apply container mx-auto p-4 h-full;
    }

    /* 
        --------------------
        -- Other elements
        --------------------
    */

    input[type=number] {
        &,
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            @apply appearance-none;
      
          &:hover,
          &:focus {
            @apply appearance-none;
          }
        }
      }
}